<!DOCTYPE html>
<html lang="en" xmlns:th=http://www.thymeleaf.org
      xmlns:sec=http://www.thymeleaf.org/extras/spring-security
      xmlns:shiro=http://www.pollix.at/thymeleaf/shiro>
<head>
    <meta charset="ISO-8859-1">
    <title>Admin Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body style="background-color: #a44ad9">
    <div class="container text-center bg-01">

        <h1 class="jumbotron">Administration Page</h1>

        <div class="container">
            <div class="container col-lg-8">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Student ID</th>
                        <th>Student E-mail</th>
                        <th>Student Name</th>
                        <th>Student Address</th>
                    </tr>
                    </thead>
                    <tbody>

                    <form th:action="@{/remove}" th:object="${current_student_Id}"
                          method="post">
                        <div class="input-group">
                            <input class="input--style-3" type="text" th:field="*{student_id}" placeholder="Id" name="id">
                        </div>
                        <div>
                            <button class="btn btn--pill btn--green" type="submit">Delete</button>
                        </div>
                    </form>
                    <tr><td> <a th:href= "@{/edit}">Edit</a></td>
                    <tr></tr>
                    <tr th:each="student: ${listStudent}">

                        <td th:text="${student.student_id}">ID</td>
                        <td th:text="${student.student_email}">E-mail</td>
                        <td th:text="${student.student_name}">Name</td>
                        <td th:text="${student.student_address}">Address</td>
                        <!--                    <td> <a th:href= "@{/edit/+ ${student.student_id}}">Edit</a></td>-->
                    </tr>
                    </tbody>
                </table>
                <br>
                <br>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Course</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr th:each="course: ${listRegister}">
                        <td th:text="${course.student_name}">Name</td>
                        <td th:text="${course.Course_name}">Address</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-lg-4">
                <form class="input-group rounded">
                    <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon"/>
                    <span class="input-group-text border-0" id="search-addon">
                        <button type="submit" class="btn btn-default">Search</button>
                    </span>
                </form>
            </div>


        </div>
    </div>


</div>

</body>
</html>