<!DOCTYPE html>
<html lang="en" xmlns:th=http://www.thymeleaf.org
      xmlns:sec=http://www.thymeleaf.org/extras/spring-security
      xmlns:shiro=http://www.pollix.at/thymeleaf/shiro>
<link rel="stylesheet" href="styles.css">
    <meta charset="ISO-8859-1">
    <title>Landing Page</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<style>

a{
  text-decoration: none;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
}
    a:hover {
  text-decoration: none;
  color: #eb8934;

}


body {
background-color: #929394;
}
</style>
<body>
<div class="container text-center">
    <h1>Martin Erasmus PRG381 Project - Landing Page</h1>
    <h2><a th:href="@{/register}">Register Student</a></h2>
    <h2><a th:href="@{/registercourse}">Register for Course</a></h2>
    <h2><a th:href="@{/login}">Student Login</a></h2>
    <h2><a th:href="@{/login}">Admin Login</a></h2>
</div>

</body>
</html>