<!DOCTYPE html>
<html lang="en" xmlns:th=http://www.thymeleaf.org
      xmlns:sec=http://www.thymeleaf.org/extras/spring-security
      xmlns:shiro=http://www.pollix.at/thymeleaf/shiro>
<head>
    <meta charset="UTF-8">
    <title>Student Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">


    <link href="css/main.css" rel="stylesheet" media="all">
</head>

<body>
<div class="page-wrapper bg-gra-01 p-t-180 font-poppins">
    <div class="wrapper wrapper--w780">
        <div class="card card-3">
            <div class="card-body">
                <h2 class="title">Student Registration Info</h2>
                <form th:action="@{/register_user}" th:object="${user}"
                      method="post">
                    <div class="input-group">
                        <input class="input--style-3" type="text" th:field="*{student_name}" placeholder="Name" name="name" required minlength="2" maxlength="20">
                    </div>
                    <div class="input-group">
                        <input class="input--style-3" type="email" th:field="*{student_email}" placeholder="Email" name="email">
                    </div>
                    <div class="input-group">
                        <input class="input--style-3" type="password" th:field="*{student_password}" placeholder="Password" name="pass" aria-hidden="true">
                    </div>
                    <div class="input-group">
                        <input class="input--style-3" type="text" th:field="*{student_address}" placeholder="Address" name="address" minlength="6" maxlength="25">
                    </div>
                    <div class="p-t-10">
                        <button class="btn btn--pill btn--green" type="submit">Sign Up</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</body><

</html>

